// Note: we don't couple to admin versions, so define our own variables for this module
$form-field-padding-y: .5385rem;
$sudo-mode-icon-size: 1.5rem;
$sudo-mode-notice-spacing: 1rem;
$button-border-radius: .23rem;

.sudo-mode {
  margin-bottom: 0;
  padding-bottom: $sudo-mode-notice-spacing;

  &__notice {
    margin-bottom: 0;
  }

  &__notice-button {
    margin-right: $sudo-mode-notice-spacing;
  }

  &__notice-help {
    margin-left: 3px;
  }

  &__verify {
    margin-top: $sudo-mode-notice-spacing;
  }

  // Removing defaults from admin in SilverStripe 4.x. Specificity required.
  &__verify-form-group.form-group {
    margin: 0;
  }

  // Reactstrap requires form feedback to be places in the same input group as the field
  // that is marked as invalid, which causes Bootstrap to remove these properties from the
  // attached button. This restores the properties to what they were.
  .input-group-append:not(:last-child) .sudo-mode__verify-button {
    border-top-right-radius: $button-border-radius;
    border-bottom-right-radius: $button-border-radius;
  }
}
