// Based on bootstrap modal
.modal-dialog {
  // IE10 fix
  height: calc(100% - #{$toolbar-total-height});

  @include media-breakpoint-down(sm) {
    height: calc(100% - 1rem);
    width: calc(100% - .5rem);
    margin: 0 auto;
  }
}

.modal-content {
  background-color: $white;
  height: auto;
  min-height: 0;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  border: 0;
}

.modal__dialog {
  .form-group:last-of-type,
  .form-group:last-of-type .form-group {
    margin-bottom: 0;
  }
}

.modal__dialog--scrollable {
  overflow: auto;
}


// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  min-height: $toolbar-total-height;
  color: $text-muted;
  background-color: $body-bg-dark;

  // Close icon
  .close {
    position: relative;
    z-index: 2;
    height: 32px;
    opacity: 1;
    margin-top: 0;
    margin-right: -$panel-padding-x;
    color: $text-muted;

    span {
      display: none;
    }
  }

  .modal-title {
    // margin-top: $spacer-sm / 3;
    line-height: 32px;
    font-size: $h2-font-size;
    font-weight: normal;
  }
}

.modal__close-button,
.modal-header .close {
  opacity: 1;

  // We can't insert our own classes into the header close button
  // so manually add font icon styles
  &::before {
    content: "\44"; // font-icon-cancel
    color: $text-muted;
    position: relative;
    top: -.2em;
    font-size: 22px; // btn-icon-xl
    font-family: silverstripe;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color $transition-speed-fast;
  }

  // Extra specificity to override bootstrap
  &:not(.disabled):hover {
    opacity: 1;
  }

  // Hide default modal close icon
  span {
    display: none;
  }
}

.modal-footer {
  background-color: $white;
  border-top: 0;
  padding-top: 0;
  justify-content: flex-start;
}

.modal__response {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: calc(100% + #{$toolbar-total-height});
  width: 100%;
  background: $body-bg;
  border-radius: $border-radius-lg;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $panel-padding-y $panel-padding-x;

  // This prevents a scroll bar appearing during
  // the modal--slideup animation
  animation: modal--prevent-overflow $transition-speed-mid * 2;
  @keyframes modal--prevent-overflow {
    from {
      overflow: hidden;
    }

    to {
      overflow: auto;
    }
  }
}

// Response messages
.modal__response--good,
.modal__response--error {
  font-size: $font-size-lg;

  span {
    animation: modal--slideup $transition-speed-mid;
    @keyframes modal--slideup {
      from {
        transform: translateY(200%);
        opacity: .5;
      }

      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  span::before {
    font-family: silverstripe;
    margin-bottom: $spacer;
    font-size: 48px;
    line-height: 40px;
    display: block;
    padding-bottom: $spacer;
  }
}

.modal__response--good span::before {
  content: "O";
  color: $brand-success;
}

.modal__response--error span::before {
  content: "#";
  color: $brand-danger;
}
