// Container for FormBuilder

.form-builder-loader {
  // Shows a loading indicator while fetching a form
  &--loading {
    text-indent: -9999em;
    background: transparent url("../../images/spinner.gif") center center no-repeat;

    @media only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
        background: transparent url("../../images/spinner@2x.gif") center center no-repeat;
        background-size: 43px 43px;
      }
  }
}
