{
  "extends": "airbnb",
  "env": {
    "jasmine": true
  },
  "rules": {
    "init-declarations": 1
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
