language: php

dist: xenial

services:
  - mysql
  - postgresql
  - xvfb

cache:
  directories:
    - $HOME/.composer/cache/files

addons:
  apt:
    packages:
      - tidy
      - chromium-chromedriver
      - chromium-browser

env:
  global:
    - COMPOSER_ROOT_VERSION="1.6.x-dev"
    - TRAVIS_NODE_VERSION="10"
    - SS_BASE_URL="http://localhost:8080/"
    - SS_ENVIRONMENT_TYPE="dev"

matrix:
  include:
    - php: 7.1
      env: DB=MYSQL INSTALLER_VERSION=4.6.x-dev PHPUNIT_TEST=1 PHPCS_TEST=1 PDO=1
    - php: 7.2
      env: DB=PGSQL INSTALLER_VERSION=4.6.x-dev PHPUNIT_TEST=1 BEHAT_TEST=@admin
    - php: 7.3
      env: DB=MYSQL INSTALLER_VERSION=4.6.x-dev PHPUNIT_TEST=1 BEHAT_TEST=@cms
    - php: 7.4
      env: DB=MYSQL INSTALLER_VERSION=4.6.x-dev PHPUNIT_TEST=1 NPM_TEST=1 RELEASE=1

before_script:
  - export CORE_RELEASE=$TRAVIS_BRANCH
  - printf "\n" | pecl install imagick

  # Extra $PATH
  - export PATH=~/.composer/vendor/bin:$PATH
  - export PATH=/usr/lib/chromium-browser/:$PATH

  # Init PHP
  - phpenv rehash
  - phpenv config-rm xdebug.ini || true
  - echo 'memory_limit = 2G' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'always_populate_raw_post_data = -1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

  # Install composer requirements
  # sminnee/phpunit-mock-objects is a fix for running phpunit 5 on php 7.4+
  - composer validate
  - composer require --no-update silverstripe/installer:$INSTALLER_VERSION sminnee/phpunit-mock-objects:^3 silverstripe/recipe-testing:^1
  - if [[ $DB == PGSQL ]]; then composer require --no-update silverstripe/postgresql:^2; fi
  - composer install --prefer-dist --no-interaction --no-progress --no-suggest --optimize-autoloader --verbose --profile

  # Remove preinstalled Chrome (google-chrome)
  # this would conflict with our chromium-browser installation
  # and its version is incompatible with chromium-chromedriver
  - sudo apt-get remove -y --purge google-chrome-stable || true

  # Start behat services
  - if [[ $BEHAT_TEST ]]; then mkdir artifacts; fi
  - if [[ $BEHAT_TEST ]]; then cp composer.lock artifacts/; fi
  - if [[ $BEHAT_TEST ]]; then sh -e /etc/init.d/xvfb start; sleep 3; fi
  - if [[ $BEHAT_TEST ]]; then (chromedriver > artifacts/chromedriver.log 2>&1 &); fi
  - if [[ $BEHAT_TEST ]]; then (vendor/bin/serve --bootstrap-file vendor/silverstripe/cms/tests/behat/serve-bootstrap.php &> artifacts/serve.log &); fi

  # Install NPM dependencies
  - if [[ $NPM_TEST ]]; then rm -rf client/dist && nvm install && nvm use && npm install -g yarn && yarn install --network-concurrency 1 && (cd vendor/silverstripe/admin && yarn install --network-concurrency 1) && yarn run build; fi

script:
  # Run tests
  - if [[ $PHPCS_TEST ]]; then vendor/bin/phpcs -s code/ tests/ *.php --ignore=host-map.php; fi
  - if [[ $NPM_TEST ]]; then git diff-files --quiet -w --relative=client; fi
  - if [[ $NPM_TEST ]]; then git diff --name-status --relative=client; fi
  - if [[ $NPM_TEST ]]; then yarn run test; fi
  - if [[ $NPM_TEST ]]; then yarn run lint; fi
  - if [[ $PHPUNIT_TEST ]]; then vendor/bin/phpunit tests/; fi
  - if [[ $BEHAT_TEST ]]; then vendor/bin/behat $BEHAT_TEST; fi

after_failure:
  - if [[ $BEHAT_TEST ]]; then php ./vendor/silverstripe/framework/tests/behat/travis-upload-artifacts.php --if-env BEHAT_TEST,ARTIFACTS_BUCKET,ARTIFACTS_KEY,ARTIFACTS_SECRET --target-path $TRAVIS_REPO_SLUG/$TRAVIS_BUILD_ID/$TRAVIS_JOB_ID --artifacts-base-url https://s3.amazonaws.com/$ARTIFACTS_BUCKET/ --artifacts-path ./artifacts/; fi

before_deploy:
  # Use installer to fill in any possible dependencies
  - composer require silverstripe/installer:$RECIPE_VERSION
  # Do the build
  - yarn static-pattern-lib

deploy:
- provider: pages
  skip_cleanup: true
  keep-history: false
  github-token: $GITHUB_AUTO_PUBLISH_API_TOKEN
  local-dir: storybook-static
  on:
    branch: 1
    repo: silverstripe/silverstripe-admin
    condition: -n $RELEASE
