version: ~> 1.0

import:
  - silverstripe/silverstripe-travis-shared:config/provision/standard-jobs-fixed-npm.yml

env:
  global:
    - REQUIRE_RECIPE="4.9.x-dev"
    - REQUIRE_FRAMEWORKTEST="0.4.2"

# Using a manual jobs matrix in addition to jobs-fixed because there are:
# - two different behat suites
jobs:
  include:
    - php: 7.3
      env:
        - DB=MYSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE"
        - BEHAT_TEST=1
        - REQUIRE_GRAPHQL="^3@dev"
        - BEHAT_SUITE="admin"
    - php: 7.3
      env:
        - DB=MYSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE"
        - BEHAT_TEST=1
        - REQUIRE_GRAPHQL="^3@dev"
        - BEHAT_SUITE="cms"
    - php: 7.3
      env:
        - DB=MYSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE"
        - BEHAT_TEST=1
        - REQUIRE_GRAPHQL="^4@dev"
        - BEHAT_SUITE="admin"
    - php: 7.3
      env:
        - DB=MYSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE"
        - BEHAT_TEST=1
        - REQUIRE_GRAPHQL="^4@dev"
        - BEHAT_SUITE="cms"
