.cms .ss-ui-action-tabset.action-menus.ss-tabset {

  .popover-actions-simulate .ui-tabs-anchor {
    font-size: 0;
    padding: $input-btn-padding-y $input-btn-padding-x;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    border-radius: 3px;
    line-height: $line-height-base * $font-size-root;

    &.active, &:hover, &.active:hover {
      background: $btn-secondary-bg;
    }

    &:hover:after {
      height: auto;
      width: auto;
    }

    &:after {
      transition: none;
      font-family: "silverstripe";
      display: block;
      margin: 0;
      line-height: $line-height-base * $font-size-root;
      height: $line-height-base * $font-size-root !important;
      content: "9";
      font-size: 21px;
      color: $text-muted;
      background-image: none !important;
      width: 100% !important;
      text-align: center;
    }
  }

  #ActionMenus_MoreOptions {
    @include media-breakpoint-down(xs) {
      left: -205px !important;
    }
  }
}
