.cms .ss-ui-action-tabset.action-menus.ss-tabset {

  .popover-actions-simulate .ui-tabs-anchor {
    font-size: 0;
    width: 44px;
    height: 33px;
    margin-top: -4px;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 3px;

    &.active, &:hover, &.active:hover {
      background: $btn-secondary-bg;
    }

    &:after {
      transition: none;
      font-family: "silverstripe";
      display: block;
      margin: 0;
      line-height: 1em;
      content: "9";
      font-size: 21px;
      color: $body-color-light;
      background-image: none !important;
      width: 100% !important;
      height: 1em !important;
      text-align: center;
    }
  }

  #ActionMenus_MoreOptions {

    @include media-breakpoint-down(xs) {
      left: -205px !important;
    }
  }
}
