// Accordion based off Bootstrap collapse

.accordion__block {
  margin-top: map_get($spacers, 2);
}

.accordion__title {
  margin-bottom: 0;
  margin-left: -($panel-padding);
  margin-right: -($panel-padding);
  padding: calc($spacer * .75) $panel-padding;
  position: relative;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-root;
  font-weight: 400;
  color: $body-color;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid $border-color;

  &::before {
    padding: calc($spacer * .75) $panel-padding;
    position: absolute;
    right: 0;
    top: 0;
    font-size: $font-size-lg;
    line-height: $line-height-base;
    color: lighten($body-color, 30);
    text-align: center;
    content: "7";
    font-family: silverstripe;
	}

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    &::before {
      color: $body-color;
    }
  }

  &.collapsed::before {
    content: "6";
    display: block;
  }
}
