.treedropdownfield__control {
  border-color: $gray-200;
  box-shadow: none;
}

.treedropdownfield__control--is-focused {
  border-color: $brand-primary;
  box-shadow: none;
}

.treedropdownfield__breadcrumbs {
  color: $white;
  background: $gray-700;
  border-bottom: 1px solid #e6e6e6; // Select.js border color
  font-weight: $headings-font-weight;

  &:hover,
  &:focus {
    background: $gray-600;
  }
}

.treedropdownfield__breadcrumbs-button {
  color: $white;
  border: 0;
  background: none;
  width: 30px;
  padding: 0 10px 0 0;
  line-height: 0.8;
}

.treedropdownfield__option+.treedropdownfield__option {
  border-top: 1px solid $border-color-light;
}

.treedropdownfield__option-button {
  border: 1px solid $border-color-light;
  border-radius: $border-radius;
  background: $white;
  // needed to override the width rule in .fill-width
  width: auto !important; // sass-lint:disable-line no-important
  max-width: 25%;
  margin: -4px -5px -4px 5px;
  padding: 4px 5px 4px 4px;
  cursor: pointer;

  &:hover {
    background: $gray-200;
  }

  .font-icon-right-open-big {
    margin: 2px 0 0 -1px;
    width: 24px;
  }
}

.treedropdownfield__option-count-icon {
  padding: 0 map_get($spacers, 2);
  line-height: 0.8;
}

.treedropdownfield__option-context {
  color: $gray-600;
  font-size: $font-size-sm;
}

.treedropdownfield__option--is-focused {
  background-color: $list-group-hover-bg;
}

.treedropdownfield__option--is-selected {
  background: $link-color;
  color: $white;

  .treedropdownfield__option-button {
    border-color: $brand-primary;
    background: none;
    color: $white;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.treedropdownfield__option-title--highlighted {
  font-weight: bold;
}

.treedropdownfield__indicator {
  cursor: pointer;
}

.treedropdownfield__clear-indicator {
  &:hover,
  &:focus {
    color: $brand-danger;
  }
}

.treedropdownfield__dropdown-indicator {
  &:hover,
  &:focus {
    color: $body-color-dark;
  }
}

.treedropdownfield__multi-value {
  color: $body-color;
  background-color: $white;
  border: 1px solid $input-focus-border-color;
  border-radius: $border-radius;
}

.treedropdownfield__multi-value__remove {
  font-size: $font-size-lg;
  padding: 0 5px 2px;
  border-left: 1px solid $input-focus-border-color;
  border-radius: 0;

  &:focus,
  &:hover {
    background-color: rgba(0, 113, 230, .08);
    color: #0071e6;
  }
}
