@import "~react-select/dist/react-select.css";

.treedropdownfield__option+.treedropdownfield__option {
  border-top: 1px solid $border-color-light;
}

.treedropdownfield__option-button {
  border: 1px solid $border-color-light;
  border-radius: $border-radius;
  background: $white;
  // needed to override the width rule in .fill-width
  width: auto !important; // sass-lint:disable-line no-important
  max-width: 25%;
  margin: -4px -5px -4px 5px;
  padding: 4px 5px 4px 4px;
  cursor: pointer;

  &:hover {
    background: $gray-200;
  }
}

.treedropdownfield__option-count-icon {
  padding: 0 ($spacer / 2);
  line-height: 0.8;
}

.treedropdownfield__menu-loading {
  padding: 2px 0 0 8px;
}

// breadcrumbs
.treedropdownfield__breadcrumbs {
  color: $white;
  background: $gray-700;
  border-bottom: 1px solid #e6e6e6; // Select.js border color
  font-weight: $headings-font-weight;

  &:hover {
    background: $gray-600;
  }
}

.treedropdownfield__breadcrumbs-button {
  color: $white;
  border: 0;
  background: none;
  width: 30px;
  padding: 0 10px 0 0;
  line-height: 0.8;
}

.treedropdownfield__option-context {
  color: $gray-600;
  font-size: $font-size-sm;
}

.treedropdownfield__option--selected {
  background: $gray-300;
}

.treedropdownfield__option-title--highlighted {
  font-weight: bold;
}

// sass-lint:disable class-name-format
.Select--multi .Select-value {
  color: $body-color;
  background-color: $white;
  border-color: $input-focus-border-color;
  border-radius: $border-radius;

  &-icon {
    font-size: $font-size-lg;
    padding: 0 5px 2px;
    border-color: $input-focus-border-color;
  }
}

.Select-option.is-focused {
  background-color: lighten($cyan, 25%);
  color: $body-color;
}

.Select-option.is-selected {
  background-color: $link-color;
  color: $white;

  .treedropdownfield__option-button {
    border-color: $brand-primary;
    background: none;
    color: $white;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.is-focused:not(.is-open)>.Select-control,
.is-open>.Select-control,
.Select-menu-outer {
  box-shadow: none;
  border-color: $brand-primary;
}

.Select-menu-outer {
  border-top-color: #e6e6e6;
}
// sass-lint:enable class-name-format
