$dash: 750;

.cms-content-loading-overlay {
  position: absolute; // z-index doesn't apply properly without that
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  // Further styling by .ui-widget-overlay-light which is usually applied at the same time
}

.cms-content-loading-spinner {
  position: absolute; // z-index doesn't apply properly without that
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 3rem;
    height: 3rem;
    padding: .5rem;

    background-color: $white;
    border-radius: $border-radius-sm;

    .ss-loading-screen & {
      width: 9rem;
      height: 9rem;
      background-color: transparent;
    }

    &__animation {
      width: 100%;
      height: 100%;

      &__empty {
        fill: transparent;
      }

      &__fill-left,
      &__fill-right {
        fill: none;
        stroke: $blue;
        stroke-width: 70;
        stroke-dasharray: $dash;
        transform: translateZ(0);
      }

      &__fill-left {

        animation: spinner__animation__keyframes-left 3s infinite cubic-bezier(.445, .05, .55, .95)
        forwards;

        @keyframes spinner__animation__keyframes-left {
          0% {
            stroke-dashoffset: 0;
          }

          25% {
            stroke-dashoffset: $dash;
          }

          50% {
            stroke-dashoffset: $dash;
          }

          75% {
            stroke-dashoffset: $dash*2;
          }

          100% {
            stroke-dashoffset: $dash*2;
          }
        }
      }

      &__fill-right {
        animation: spinner__animation__keyframes-right 3s infinite cubic-bezier(.445, .05, .55, .95)
        forwards;

        @keyframes spinner__animation__keyframes-right {
          0% {
            stroke-dashoffset: $dash*2;
          }

          25% {
            stroke-dashoffset: $dash*2;
          }

          50% {
            stroke-dashoffset: $dash;
          }

          75% {
            stroke-dashoffset: $dash;
          }

          100% {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}
