.cms-mobile-menu-toggle {
  $child-left-right: 30%;
  $child-top-bottom: 36%;
  $child-height: 2px;

  display: block;
  width: $toolbar-total-height - 1;
  height: $toolbar-total-height - 1;
  background: $brand-secondary;
  color: $white;
  border: 0;

  > span {
    position: absolute;
    left: $child-left-right;
    right: $child-left-right;
    top: $child-top-bottom;
    height: $child-height;
    background: lighten($brand-secondary, 80%);
    border-radius: 5px;
    transition: 0.1s all;

    &:nth-child(2) {
      top: 50%;
      margin-top: -($child-height / 2);
    }

    &:nth-child(3) {
      top: 50%;
      margin-top: -($child-height / 2);
    }

    &:last-child {
      top: auto;
      bottom: $child-top-bottom;
    }
  }

  &--open {
    > span {

      &:first-child {
        top: 50%;
        margin-top: -($child-height / 2);
        opacity: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:last-child {
        top: 50%;
        margin-top: -($child-height / 2);
        opacity: 0;
      }
    }
  }
}
