// sass-lint:disable no-css-comments
/**
 * Styles for the left hand side menu and header for the admin panels.
 *
 * Take into consideration CSS selector performance.
 *
 * @package admin
 */
// sass-lint:enable no-css-comments

.cms-menu {
  z-index: $zindex-menu;
  background: $base-menu-bg;
  // Add `!important` to ignore width set in `.cms-panel` entwine`
  width: $cms-menu-width !important; // sass-lint:disable-line no-important

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 0;
    left: -100%;
    width: calc(100% - 59px) !important; // sass-lint:disable-line no-important
    transition: left $transition-speed-fast ease-in;

    &--open {
      left: 0;
      height: 100% !important; // sass-lint:disable-line no-important
      box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  a {
    text-decoration: none;
  }

  .cms-panel-content {
    box-shadow: inset #C1C7CC -1px 0 0;
    overflow-x: hidden;
    // account for logo, logout and south bar
    height: calc(100% - #{$toolbar-total-height * 3}) !important; // sass-lint:disable-line no-important
  }

  @include media-breakpoint-up(md) {
    &.collapsed {
      // Using important because JavaScript is overriding this value
      width: $cms-menu-width-collapsed !important; // sass-lint:disable-line no-important
      cursor: auto;
      z-index: 1000;

      .cms-panel-header {
        width: 30px;

        span {
          display: none;
        }
      }

      .cms-menu__list {
        overflow-x: hidden;
        overflow-y: auto;

        li {
          width: 100%;
          float: left;

          ul {
            display: none;
          }

          a {
            padding-left: 18px;
            padding-right: 18px;
          }
        }
      }

      span.text {
        display: none;
      }

      .cms-sitename {

        .cms-sitename__link {
          width: $cms-menu-width-collapsed;
          height: $toolbar-height; /* IE fix */
        }

        .cms-sitename__title {
          display: none;
        }
      }

      .cms-login-status {

        .cms-login-status__profile-link {
          width: auto;
          right: 0;

          > span {
            opacity: 0;
          }

          i {
            padding-left: 8px;
          }
        }

        .cms-login-status__logout-link {
          display: none;
        }
      }

      .sticky-toggle {
        background-position: 12px center;
        width: 40px;
      }
    }
  }

  .cms-panel-toggle {
    height: $toolbar-total-height;
    background-color: $base-menu-bg;
    box-shadow: inset $border-color -1px 0 0;
    position: relative;
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    a,
    a.toggle-expand {
      width: 50%;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .sticky-toggle {
    text-indent: -999em;
    background-color: transparent;
    background-image: url("../images/sticky-toggle-off.png");
    background-repeat: no-repeat;
    background-position: 16px center;
    border: 0;
    transition: position $transition-speed-fast;
    z-index: 2;

    &:hover {
      box-shadow: 0 0 0;

      // When the button is hovered, show the status indicator
      + .sticky-status-indicator {
        display: block;
      }
    }

    &.active {
      background-image: url("../images/sticky-toggle-on.png");
    }

    .ui-button-text {
      padding: 0;
    }
  }

  .sticky-status-indicator {
    display: none;
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 9px;
    color: #555d60;
    text-transform: uppercase;
  }

  // Sub menu (will also be available for profile)
  .toggle-children {
    display: inline-block;
    float: right;
    width: 20px;
    height: 100%;
    cursor: pointer;
    padding-top: 17px;
  }

  .child-flyout-indicator,
  .toggle-children-icon {
    background-image: none;
    border-color: darken(#ccdce6, 25%);
    border-style: solid;
    border-width: 0 1px 1px 0;
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: 3px;
    right: 8px;
    z-index: 2;
    -ms-transform: rotate(-45deg); // IE 9
    -webkit-transform: rotate(-45deg); // Chrome, Safari, Opera
    transform: rotate(-45deg);
    // display: none;  // To be shown by javascript, see LeftAndMain.Panel.js
  }

  .opened .toggle-children-icon {
    margin-top: 1px;
  }

  @include media-breakpoint-up(md) {
    &.collapsed .child-flyout-indicator {
      margin-top: -29px;
    }
  }
}

.cms-menu-mobile-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: $zindex-cms-content-header + 1;
  border: 0;
}

.cms-menu + .cms-menu-mobile-overlay {
  display: none;
}

.cms-menu.cms-menu--open + .cms-menu-mobile-overlay {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.cms-menu__header {
  padding: 0;
  background-color: $brand-secondary;
  min-height: $toolbar-total-height*2;

  span {
    color: $white;
    display: block;
    padding-left: 26px;

    a {
      color: white;
      display: inline;
    }
  }
}

.cms-sitename {
  border-bottom: 1px solid darken($brand-secondary, 4%);
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  transition: padding $transition-speed-fast;
  height: $toolbar-total-height;
  font-weight: bold;
  display: flex;

  &:hover,
  &:focus {
    background-color: darken($brand-secondary, 2);
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .cms-sitename__link {
    color: #44C7F4;
    font-size: 22px;
    min-width: 40px;
    line-height: 20px; /* For ie */
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: lighten(#44C7F4, 6);
    }

    &:before {
      vertical-align: middle;
    }
  }

  .cms-sitename__title {
    color: $white;
    display: block;
    margin: 16px 1em 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      opacity: .9;
    }

    @include media-breakpoint-down(sm) {
      margin-left: $toolbar-total-height;
      margin-right: $toolbar-total-height;
    }
  }
}

.cms-login-status {
  position: relative;
  line-height: 16px;
  font-size: $font-size-sm;
  transition: padding $transition-speed-fast;
  min-height: $toolbar-total-height;

  .cms-login-status__logout-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: $font-size-root + 2px;
    width: 40px;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      opacity: .9;
      text-decoration: none;
      background-color: darken($brand-secondary, 2);
    }
  }

  .cms-login-status__profile-link {
    position: absolute;
    left: 0;
    right: 36px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0 0 8px;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($brand-secondary, 2);
    }

    i {
      position: absolute;
      top: 17px;
      left: 13px;
      font-size: 18px;
      vertical-align: middle;
      margin-right: 6px;
      padding-left: 0;
      transition: padding $transition-speed-fast;

      @include media-breakpoint-down(sm) {
        left: 18px;
      }
    }

    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 29px;

      @include media-breakpoint-down(sm) {
        padding-left: 36px;
      }
    }
  }
}

// SS4 menu font icons
.menu__icon {
  position: absolute;
  margin-top: -1px;
  left: 13px;
  font-size: $h3-font-size;
  transition: all $transition-speed-fast;
  color: darken($base-menu-bg, 44%);

  @include media-breakpoint-up(md) {
    .collapsed & {
      left: 22px;
    }
  }

  @include media-breakpoint-down(sm) {
    left: 20px;
  }
}

.cms-menu__list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  box-shadow: inset $border-color -1px 0 0;

  a:focus,
  a:active {
    text-decoration: none;
  }

  li {

    a {
      display: block;
      min-height: 50px;
      color: $body-color;
      padding: (2 * $grid-y) 5px (2 * $grid-y) 8px;
      background-color: $base-menu-bg;
      cursor: pointer;
      position: relative;
      transition: padding $transition-speed-fast;
      text-decoration: none;
      box-shadow: inset $border-color -1px 0 0;

      &:hover {
        text-decoration: none;
        background-color: $base-menu;
        color: darken($body-color, 10%);
      }

      &:focus,
      &:active {
        background-color: $base-menu;
        text-decoration: none;
      }

      // External links
      &[href^="//"],
      &[href^="http://"],
      &[href^="https://"] {
        .text::after {
          content: "@";
          position: relative;
          top: 2px;
          font-family: silverstripe;
          display: inline-block;
          opacity: 0;
          font-size: 10px;
          margin-left: 6px;
          color: darken($base-menu-bg, 44%);
          transition: opacity $transition-speed-fast ease-in-out;
        }

        &:hover .text::after {
          opacity: 1;
        }
      }

      .text {
        display: block;
        margin-left: 30px;

        @include media-breakpoint-down(sm) {
          margin-left: 38px;
        }
      }

      span.toggle-children {
        top: 0;
      }

    }

    &.current { //need to apply current stlye to flyout also (at least line height)

      &>a {
        background-color: $base-menu;

        .toggle-children {
          .toggle-children-icon {
            @extend .icon-sprites-32x32; // sass-lint:disable-line no-extends
            @include sprite($sprites-32x32-menu-arrow-down);
          }
        }
      }

      a {
        background-color: $base-menu;
      }

      ul {
        border-top: 0;
        display: block;
      }

      li {
        background-color: $base-menu-bg;

        a {
          &.current,
          &:hover {
            background-color: $base-menu;
          }
        }

      }
    }

    // Has sub menu
    &.children {

      .no-icon.text {
        margin-left: 30px;
      }

      // Sub menu
      ul li a {
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        padding-top: 11px;
        padding-bottom: 11px;
        color: lighten($body-color, 10%);
        background-color: $base-menu-bg;

        span.text {
          margin-left: 23px;
        }
      }

      &.current {
        > a {
          background-color: transparent;

          &:hover {
            background-color: lighten($base-menu, 3%);
          }
        }
      }

      &.opened {
        a:hover {
          background-color: lighten($base-menu, 3%);
        }

        .current a {
          background-color: $base-menu;
        }

        .opened .toggle-children-icon {
          transform: rotate(45deg);
        }
      }
    }

    // Style applied to the menu flyout only when the collapsed setting
    .collapsed-flyout {
      left: 59px;
      margin-top: -52px;
      position: fixed;
      width: 160px;
      z-index: 1;
      display: none;

      .icon {
        display: none;
      }

      li {
        a {
          background: $base-menu-bg;
          box-shadow: none;
          padding: 10px 0;
          height: 40px;
          line-height: 18px;

          &:hover,
          &:active {
            background: lighten($base-menu, 3%);
          }
        }

        &.children a {
          font-size: 13px;
          height: 18px;
          cursor: default;
        }

        &.current {
          a {
            background-color: $base-menu;
          }

          &.children a {
            background-color: $base-menu-bg;
          }
        }
      }
    }
  }

  &.collapsed {

    .toggle-children {
      display: none;
    }

    .opened {
      ul.collapsed-flyout {
        border-radius: 0 2px 2px 0 ;
        border: 1px solid #d2d5d8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        li.clone a {
          padding: 15px 0 15px 70px;
          margin-left: -60px;
          margin-right: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

          span.text {
            margin-left: -10px;
          }
        }

        li a span.text {
          display: block;
          margin-left: 0;
        }
      }

      .child-flyout-indicator {
        position: fixed;
        left: 196px;
        transform: rotate(45deg);
        margin-top: -33px;
      }
    }
  }
}

// Mobile menu toggle
.cms-mobile-menu-toggle-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: $zindex-menu + 1;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}
