.back-button {
  padding-left: map_get($spacers, 1);
  padding-right: map_get($spacers, 1);
  min-width: 24px; // Safari fix
  color: $text-muted; // TEMP: Needed for anchor buttons to override legacy styles
  margin-left: -$spacer-xs;

  @include media-breakpoint-down(sm) {
    margin-left: 42px;

    .insert-media-modal & {
      margin-left: 0;
    }
  }
}
