@import "mixins/badge";

// Bootstrap badge
.badge {
  text-transform: uppercase;
  font-size: $font-size-xxs;
  font-weight: 400;
  letter-spacing: .3px;
}

.status-archived {
  color: $text-muted;
}

// Inverted states
@each $color, $value in $theme-colors {
  .text-bg-#{$color}--inverted {
    @include badge-variant-inverted($value);
  }
}
