$circular-button-border-radius: 100px;
$circular-button-size: 32px;
$circular-button-padding: 7px;

// TODO ensure .toolbar is used globally and remove toolbar--"modifier" classes from following block
.toolbar,
.toolbar--north,
.toolbar--content,
.toolbar--south {
  @include make-container();
  min-height: $toolbar-total-height;

  .btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn {
    margin-bottom: 0;

    &--circular {
      border-radius: $circular-button-border-radius;
      width: $circular-button-size;
      padding-left: $circular-button-padding;

      &:hover {
        border-color: transparent;
      }
    }
  }

  .btn-group {
    // Specificity override from Bootstrap
    > .btn--circular {
      border-top-left-radius: $circular-button-border-radius;
      border-bottom-left-radius: $circular-button-border-radius;
    }

    &--circular > .btn {
      border: 1px solid $border-color;
      width: calc(#{$circular-button-size} - 2px);
      padding-left: $circular-button-padding;

      &:first-child {
        border-top-left-radius: $circular-button-border-radius;
        border-bottom-left-radius: $circular-button-border-radius;
      }

      &:last-child {
        border-top-right-radius: $circular-button-border-radius;
        border-bottom-right-radius: $circular-button-border-radius;
        // Shift the caret icon slightly closer in. The default left padding is better for the LHS button.
        padding-left: calc(#{$circular-button-padding} - 2px);
      }

      &:hover {
        border: 1px solid $border-color;
      }
    }
  }
}

// Northern bar containing breadcrumb, tabs etc.
.toolbar--north {
  background-image: none;
  background-color: $body-bg-dark;
  border-bottom: 1px solid $border-color;
  z-index: 60;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}


// Secondary content actions eg. Add page button
.toolbar--content {
  margin-top: -$panel-padding-y;
  margin-left: -$panel-padding-x;
  margin-right: -$panel-padding-x;
  padding-top: $spacer-xs;
  padding-bottom: $spacer-xs;
  min-height: auto;
  width: auto; // override 100% width due to negative margin

  .btn {
    transition: font-size 0s;
  }

  @include media-breakpoint-down(md) {

    // If toolbar has too many items for smaller screens
    &.toolbar--space-save {

      // Hide labels and decrease spacing for smaller screens
      .btn__text {
        @include sr-only();
      }

      .btn {
        margin-right: 0;
      }

      .btn::before {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .btn {
      // Hide text on small devices if the button has an icon
      &[class*="font-icon-"] {
        font-size: 0;
      }

      &:before {
        margin-right: 0;
        top: 0;
      }
    }
  }
}

// Primary content actions
.toolbar--south {
  height: $toolbar-total-height;
  padding-top: $spacer-xs;
  padding-bottom: $spacer-xs;
  border-top: 1px solid $border-color;
  width: 100%;
  background-color: $body-bg;
}

.toolbar--south .toolbar__back-button {
  margin-top: 0;
  margin-right: 5px;
}

.toolbar__navigation {
  position: relative;
  display: flex;
  align-items: center;
}
