// TODO ensure .toolbar is used globally and remove toolbar--"modifier" classes from following block
.toolbar,
.toolbar--north,
.toolbar--content,
.toolbar--south {
  @include make-container();
  min-height: $toolbar-total-height;

  .btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;

    // Replicate regular buttons in .btn-toolbar
    > .grid-print-button,
    > .grid-csv-button {
      margin-left: $btn-spacing;
    }

    .btn-secondary:first-child,
    .btn-link:first-child,
    .grid-csv-button:first-child,
    .grid-print-button:first-child {
      margin-left: calc(#{$btn-spacing} - #{$btn-padding-x});
    }
  }

  .btn {
    margin-bottom: 0;
  }
}

// Northern bar containing breadcrumb, tabs etc.
.toolbar--north {
  background-image: none;
  background-color: $background-darker;
  border-bottom: 1px solid $border-color;
  z-index: 60;
  position: relative;
  width: 100%;
}


// Secondary content actions eg. Add page button
.toolbar--content {
  margin-top: -$panel-padding-y;
  margin-left: -$panel-padding-x;
  margin-right: -$panel-padding-x;
  padding-top: $spacer-xs;
  padding-bottom: $spacer-xs;
  min-height: auto;

  .btn {
    transition: font-size 0s;
  }

  @include media-breakpoint-down(md) {

    // If toolbar has too many items for smaller screens
    &.toolbar--space-save {

      // Hide labels and decrease spacing for smaller screens
      .btn__text {
        @include sr-only();
      }

      .btn {
        margin-right: 0;
      }

      .btn::before {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .btn {
      font-size: 0;

      &:before {
        margin-right: 0;
      }
    }
  }
}

// Primary content actions
.toolbar--south {
  padding-top: $spacer-xs;
  padding-bottom: $spacer-xs;
  border-top: 1px solid $border-color;
  width: 100%;
  background-color: $background-main;
}

.toolbar__back-button {
  float: left;
  margin: $spacer-xs $spacer-x / 2 $spacer-xs #{-$spacer-xs};
  padding-left: $spacer-x / 4;
  padding-right: $spacer-x / 4;
  min-width: 24px; // Safari fix
  color: $body-color-light; // TEMP: Needed for anchor buttons to override legacy styles

  .toolbar--south & {
    margin-top: 0;
    margin-right: 5px;
  }
}

.toolbar__navigation {
  position: relative;
}
