.breadcrumb__list-container {
  line-height: 14px;
  min-height: 14px;
}

.breadcrumb {
  display: inline-block;
  font-size: $font-size-xs;
  line-height: 14px;
  min-height: 14px;
  margin-bottom: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0;

  .toolbar & {
    padding-bottom: 0;
  }

  &__item {
    float: none;
    display: inline;

    &:after {
      padding-right: .5rem;
      padding-left: .5rem;
      color: #ced3d9;
      content: "/";
    }
  }
}

.breadcrumb__container {
  max-height: $toolbar-height;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    margin-left: $toolbar-total-height;

    .toolbar__back-button + & {
      margin-left: 0;
    }

    .insert-media-modal & {
      margin-left: 0;
    }
  }
}

.breadcrumb > li.breadcrumb__item--last, // TODO Fix Bootstrap clash
.breadcrumb__item--last {
  display: block;
  float: none;

  &::after {
    content: "";
    display: none;
  }

  &.breadcrumb__item--no-crumb {
    h2 {
      padding-right: 1px;
    }

    &:before {
      content: "";
      padding: 0;
    }
  }
}

.cms h2.breadcrumb__item-title--last, // TODO Fix CMS clash
.breadcrumb__item--last .breadcrumb__item-title,
.breadcrumb__item-title--last {
  margin: 0;
  font-size: $h3-font-size;
  font-weight: normal;
  line-height: 24px;
  @include text-truncate;
  display: flex;
  align-items: center;
}

.breadcrumb__icon::before {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.breadcrumb__icon {
  margin-top: 5px;
}

.breadcrumb__icon.file-status-icon {
  margin-left: 6px;

  &:last-of-type {
    margin-right: 6px;
  }
}
