.gridfield-actionmenu__container {
  display: inline-flex;
  margin: -.5em 0;
}

.action-menu {
  &__toggle {
    width: 3em;
    text-indent: -9999em;
    background-image: url("../../images/dot-3.svg");
    background-position: center center;
    background-repeat: no-repeat;

    &:not(:disabled):not(.disabled):active {
      background-image: url("../../images/dot-3.svg");
    }
  }

  &__dropdown {
    button {
      cursor: pointer;
    }
  }
}
