.compact-tag-list {
  position: relative;
  overflow: hidden;

  .tag-list {
    white-space: nowrap;
  }

  &__placeholder {
    margin-left: -9999px;
    position: absolute;
    opacity: 0;
  }

  .font-icon-sliders::before {
    vertical-align: text-top;
  }
}




