.compact-tag-list {
  position: relative;
  overflow: hidden;

  .TagList {
    white-space: nowrap;
  }

  &__placeholder {
    margin-left: -9999px;
    position: absolute;
    opacity:0;
  }
}




