.tag-component {
  list-style: none;
  border-radius: $border-radius-sm;
  border: 1px solid $gray-100;
  color: $gray-500;
  display: inline-block;
  margin-right: $btn-icon-spacing;
  position: relative;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus-within {
    border-color: green;
  }

  &.btn-secondary:not(:disabled):not(.disabled):focus,
  &:focus-within {
    border-color: $component-active-border-color;
    box-shadow: none;
    background: none;
  }

  &.btn-secondary:not(:disabled):not(.disabled):hover {
    background: #eef2f4;
  }

  &--deletable {
    padding-left: 6px + 14px + 6px;
  }

  &__delete {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
    line-height: 0;
    background: none;

    &.btn[class*="font-icon-"]::before {
      line-height: 10px;
    }

    &.btn-secondary:not(:disabled):not(.disabled):hover,
    &.btn-secondary:not(:disabled):not(.disabled):focus,
    &.btn-secondary:not(:disabled):not(.disabled):active {
      background: none;
      border-color: transparent;
      box-shadow: none;
    }
  }

}
