// Popover: Custom styles built on top of the Bootstrap popover component

.popover {
  box-shadow: $z-depth-1;
  font-size: $font-size-base;
  min-width: 230px;

  &:focus {
    outline: none;
  }

  &.top,
  &.bottom {
    .arrow {
      margin-left: -5px;
    }
  }

  &.top {
    margin-top: -10px;
  }

  &.left,
  &.right {
    .arrow {
      margin-top: -3px;
    }
  }

  &.left {
    margin-left: -10px;
  }
}

.popover-body {

  // Unable to use classes within the popover, so we use elements to style
  ul {
    // TODO remove important by removing nesting of lists
    padding-left: 0 !important;
    list-style-type: none;
    margin-left: -#{$popover-padding} + 1px; // minus border
    margin-right: -#{$popover-padding} + 1px;
    margin-bottom: 0;
  }

  a {
    display: block;
    padding: #{$spacer / 4} $popover-padding;
    color: $dropdown-link-color;

    &:hover {
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
    }
  }

  .btn {
    padding-left: calc(#{$popover-padding} - 1px); // minus border
    padding-right: calc(#{$popover-padding} - 1px);
    margin-left: calc(-#{$popover-padding} + 1px);
    margin-right: calc(-#{$popover-padding} + 1px);
    display: block;
    width: calc(100% + #{$popover-padding * 2} - 2px);
    text-align: left;
    border-radius: 0;

    &:hover {
      background-color: $base-menu-bg;
    }
  }
}
