@charset "UTF-8";

@font-face {
  font-family: "silverstripe";
  src:url("fonts/silverstripe.eot");
  src:url("fonts/silverstripe.eot?#iefix") format("embedded-opentype"),
    url("fonts/silverstripe.woff") format("woff"),
    url("fonts/silverstripe.ttf") format("truetype"),
    url("fonts/silverstripe.svg#silverstripe") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "silverstripe" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="font-icon-"]:before,
[class*=" font-icon-"]:before {
  font-family: "silverstripe" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-search:before {
  content: "\73";
}

.font-icon-sync:before {
  content: "\63";
}

.font-icon-print:before {
  content: "\64";
}

.font-icon-list:before {
  content: "\65";
}

.font-icon-plus-circled:before {
  content: "\66";
}

.font-icon-check-mark-2:before {
  content: "\6b";
}

.font-icon-book:before {
  content: "\6e";
}

.font-icon-book-open:before {
  content: "\6f";
}

.font-icon-plus:before {
  content: "\6a";
}

.font-icon-tree:before {
  content: "\70";
}

.font-icon-flow-tree:before {
  content: "\71";
}

.font-icon-info-circled:before {
  content: "\79";
}

.font-icon-chart-line:before {
  content: "\42";
}

.font-icon-graph-bar:before {
  content: "\45";
}

.font-icon-torsos-all:before {
  content: "\46";
}

.font-icon-torso:before {
  content: "\48";
}

.font-icon-chart-pie:before {
  content: "\41";
}

.font-icon-sitemap:before {
  content: "\43";
}

.font-icon-chat:before {
  content: "\74";
}

.font-icon-comment:before {
  content: "\77";
}

.font-icon-logout:before {
  content: "\7a";
}

.font-icon-cancel-circled:before {
  content: "\51";
}

.font-icon-left-open:before {
  content: "\54";
}

.font-icon-right-open:before {
  content: "\55";
}

.font-icon-check-mark:before {
  content: "\47";
}

.font-icon-check-mark-circle:before {
  content: "\49";
}

.font-icon-back-in-time:before {
  content: "\58";
}

.font-icon-cog:before {
  content: "\59";
}

.font-icon-fast-forward:before {
  content: "\68";
}

.font-icon-install:before {
  content: "\61";
}

.font-icon-down-circled:before {
  content: "\69";
}

.font-icon-eye:before {
  content: "\6c";
}

.font-icon-columns:before {
  content: "\72";
}

.font-icon-monitor:before {
  content: "\78";
}

.font-icon-mobile:before {
  content: "\4a";
}

.font-icon-tablet:before {
  content: "\4b";
}

.font-icon-pencil:before {
  content: "\6d";
}

.font-icon-trash:before {
  content: "\67";
}

.font-icon-edit:before {
  content: "\4e";
}

.font-icon-tick:before {
  content: "\4f";
}

.font-icon-upload:before {
  content: "\62";
}

.font-icon-thumbnails:before {
  content: "\57";
}

.font-icon-down-open:before {
  content: "\30";
}

.font-icon-up-open:before {
  content: "\31";
}

.font-icon-link:before {
  content: "\32";
}

.font-icon-level-up:before {
  content: "\56";
}

.font-icon-image:before {
  content: "\34";
}

.font-icon-trash-bin:before {
  content: "\50";
}

.font-icon-left-open-big:before {
  content: "\35";
}

.font-icon-down-open-big:before {
  content: "\36";
}

.font-icon-up-open-big:before {
  content: "\37";
}

.font-icon-right-open-big:before {
  content: "\38";
}

.font-icon-save:before {
  content: "\21";
}

.font-icon-rocket:before {
  content: "\5a";
}

.font-icon-cancel:before {
  content: "\44";
}

.font-icon-happy:before {
  content: "\22";
}

.font-icon-sad:before {
  content: "\23";
}

.font-icon-angle-double-right:before {
  content: "\24";
}

.font-icon-angle-double-left:before {
  content: "\25";
}

.font-icon-angle-right:before {
  content: "\26";
}

.font-icon-angle-left:before {
  content: "\27";
}

.font-icon-caret-up-down:before {
  content: "\29";
}

.font-icon-caret-down-two:before {
  content: "\28";
}

.font-icon-caret-up-two:before {
  content: "\2a";
}

.font-icon-right-dir:before {
  content: "\2b";
}

.font-icon-down-dir:before {
  content: "\2c";
}

.font-icon-link-broken:before {
  content: "\2d";
}

.font-icon-switch:before {
  content: "\2e";
}

.font-icon-resize:before {
  content: "\4c";
}

.font-icon-menu:before {
  content: "\2f";
}

.font-icon-edit-list:before {
  content: "\3a";
}

.font-icon-help-circled:before {
  content: "\3b";
}

.font-icon-icon-enlarge:before {
  content: "\3d";
}

.font-icon-page-multiple:before {
  content: "\3e";
}

.font-icon-database:before {
  content: "\3f";
}

.font-icon-block:before {
  content: "\3c";
}

.font-icon-up-circled:before {
  content: "\5d";
}

.font-icon-clock:before {
  content: "\5e";
}

.font-icon-spinner:before {
  content: "\5f";
}

.font-icon-menu-campaigns:before {
  content: "\60";
}

.font-icon-menu-files:before {
  content: "\7b";
}

.font-icon-menu-help:before {
  content: "\7c";
}

.font-icon-menu-modaladmin:before {
  content: "\7d";
}

.font-icon-menu-pages:before {
  content: "\7e";
}

.font-icon-menu-reports:before {
  content: "\5c";
}

.font-icon-menu-security:before {
  content: "\e000";
}

.font-icon-menu-settings:before {
  content: "\e001";
}

.font-icon-sort:before {
  content: "\e003";
}

.font-icon-lock:before {
  content: "\e004";
}

.font-icon-cross-mark:before {
  content: "\e005";
}

.font-icon-folder-add:before {
  content: "\e006";
}

.font-icon-drag-handle:before {
  content: "\53";
}

.font-icon-safari:before {
  content: "\e00a";
}

.font-icon-folder-move:before {
  content: "\e007";
}

.font-icon-clipboard-pencil:before {
  content: "\e00c";
}

.font-icon-picture:before {
  content: "\76";
}

.font-icon-sliders:before {
  content: "\e00d";
}

.font-icon-white-question:before {
  content: "\e00e";
}

.font-icon-home:before {
  content: "\e002";
}

.font-icon-block-banner:before {
  content: "\e009";
}

.font-icon-block-carousel:before {
  content: "\e00b";
}

.font-icon-block-content:before {
  content: "\e00f";
}

.font-icon-block-file-list:before {
  content: "\e011";
}

.font-icon-block-form:before {
  content: "\e012";
}

.font-icon-block-layout:before {
  content: "\e013";
}

.font-icon-block-media:before {
  content: "\e014";
}

.font-icon-tag:before {
  content: "\e015";
}

.font-icon-tags:before {
  content: "\e016";
}

.font-icon-checklist:before {
  content: "\e018";
}

.font-icon-export:before {
  content: "\e019";
}

.font-icon-box:before {
  content: "\e01a";
}

.font-icon-language:before {
  content: "\e01b";
}

.font-icon-globe:before {
  content: "\e01c";
}

.font-icon-eye-with-line:before {
  content: "\e01d";
}

.font-icon-translatable:before {
  content: "\e01e";
}

.font-icon-pulse:before {
  content: "\e01f";
}

.font-icon-dot-3:before {
  content: "\39";
}

.font-icon-code:before {
  content: "\33";
}

.font-icon-external-link:before {
  content: "\40";
}

.font-icon-explore-addons:before {
  content: "\e020";
}

.font-icon-share:before {
  content: "\e021";
}

.font-icon-calendar:before {
  content: "\e023";
}

.font-icon-universal-access:before {
  content: "\e024";
}

.font-icon-cart:before {
  content: "\e022";
}

.font-icon-credit-card:before {
  content: "\e029";
}

.font-icon-news:before {
  content: "\e025";
}

.font-icon-p-event:before {
  content: "\e026";
}

.font-icon-p-event-alt:before {
  content: "\e027";
}

.font-icon-p-article:before {
  content: "\e017";
}

.font-icon-p-articles:before {
  content: "\e028";
}

.font-icon-p-document:before {
  content: "\e02a";
}

.font-icon-p-code:before {
  content: "\e02b";
}

.font-icon-p-error:before {
  content: "\e02c";
}

.font-icon-p-cart:before {
  content: "\e02d";
}

.font-icon-p-list:before {
  content: "\e02e";
}

.font-icon-p-archive:before {
  content: "\e030";
}

.font-icon-p-news-item:before {
  content: "\e031";
}

.font-icon-p-multi:before {
  content: "\e02f";
}

.font-icon-page:before {
  content: "\e032";
}

.font-icon-p-a:before {
  content: "\e033";
}

.font-icon-p-a-b:before {
  content: "\e034";
}

.font-icon-p-alt:before {
  content: "\e035";
}

.font-icon-p-shield-off:before {
  content: "\e036";
}

.font-icon-p-shield:before {
  content: "\e037";
}

.font-icon-p-posts:before {
  content: "\e038";
}

.font-icon-p-home:before {
  content: "\e039";
}

.font-icon-p-gallery-alt:before {
  content: "\e03a";
}

.font-icon-p-gallery:before {
  content: "\e03b";
}

.font-icon-p-data:before {
  content: "\e03c";
}

.font-icon-p-b:before {
  content: "\e03e";
}

.font-icon-p-virtual:before {
  content: "\e03f";
}

.font-icon-p-alt-2:before {
  content: "\e040";
}

.font-icon-p-alt-3:before {
  content: "\e041";
}

.font-icon-p-profile:before {
  content: "\e042";
}

.font-icon-p-attachment:before {
  content: "\e043";
}

.font-icon-p-download:before {
  content: "\e044";
}

.font-icon-p-search:before {
  content: "\e045";
}

.font-icon-p-mail:before {
  content: "\e046";
}

.font-icon-p-map:before {
  content: "\e047";
}

.font-icon-p-redirect:before {
  content: "\e048";
}

.font-icon-p-post:before {
  content: "\e049";
}

.font-icon-p-shop:before {
  content: "\e04a";
}

.font-icon-p-book:before {
  content: "\e04b";
}

.font-icon-p-package:before {
  content: "\e04c";
}

.font-icon-p-blocked:before {
  content: "\e03d";
}

.font-icon-circle-star:before {
  content: "\e04d";
}

.font-icon-sun:before {
  content: "\e04e";
}

.font-icon-accessibility:before {
  content: "\e04f";
}

.font-icon-plus-thin:before {
  content: "\e050";
}

.font-icon-dashboard:before {
  content: "\e051";
}

.font-icon-block-embed:before {
  content: "\e052";
}

.font-icon-minus-circle:before {
  content: "\e053";
}

.font-icon-check-circle:before {
  content: "\e054";
}

.font-icon-minus:before {
  content: "\e055";
}

.font-icon-plus-1:before {
  content: "\e056";
}

.font-icon-right-thin:before {
  content: "\e057";
}

.font-icon-left-thin:before {
  content: "\e058";
}

.font-icon-down-thin:before {
  content: "\e059";
}

.font-icon-up-thin:before {
  content: "\e05a";
}

.font-icon-attention:before {
  content: "\5b";
}

.font-icon-integration:before {
  content: "\e05b";
}

.font-icon-lamp:before {
  content: "\e05c";
}

.font-icon-flag:before {
  content: "\e05d";
}

.font-icon-globe-1:before {
  content: "\52";
}

.font-icon-shield:before {
  content: "\75";
}

.font-icon-clone:before {
  content: "\e05e";
}

.font-icon-block-back:before {
  content: "\e008";
}

.font-icon-block-a:before {
  content: "\e05f";
}

.font-icon-block-a-b:before {
  content: "\e060";
}

.font-icon-block-analytics:before {
  content: "\e061";
}

.font-icon-block-user-3:before {
  content: "\e062";
}

.font-icon-block-attachment:before {
  content: "\e063";
}

.font-icon-block-layout-2:before {
  content: "\e064";
}

.font-icon-block-clock:before {
  content: "\e065";
}

.font-icon-block-layout-3:before {
  content: "\e066";
}

.font-icon-block-info:before {
  content: "\e067";
}

.font-icon-block-group:before {
  content: "\e068";
}

.font-icon-block-instagram:before {
  content: "\e069";
}

.font-icon-block-user:before {
  content: "\e06a";
}

.font-icon-block-story-carousel:before {
  content: "\e06c";
}

.font-icon-block-link:before {
  content: "\e06e";
}

.font-icon-block-layout-4:before {
  content: "\e06f";
}

.font-icon-block-layout-5:before {
  content: "\e070";
}

.font-icon-block-table-data:before {
  content: "\e071";
}

.font-icon-block-search:before {
  content: "\e072";
}

.font-icon-block-user-5:before {
  content: "\e073";
}

.font-icon-block-users:before {
  content: "\e074";
}

.font-icon-block-microphone:before {
  content: "\e075";
}

.font-icon-block-blog-post:before {
  content: "\e076";
}

.font-icon-block-award:before {
  content: "\e077";
}

.font-icon-block-b:before {
  content: "\e078";
}

.font-icon-block-bookmark:before {
  content: "\e079";
}

.font-icon-block-numbers:before {
  content: "\e07a";
}

.font-icon-block-video:before {
  content: "\e07b";
}

.font-icon-block-phone:before {
  content: "\e07c";
}

.font-icon-block-quote:before {
  content: "\e07d";
}

.font-icon-block-reports:before {
  content: "\e07e";
}

.font-icon-block-coffee:before {
  content: "\e07f";
}

.font-icon-block-conversation:before {
  content: "\e080";
}

.font-icon-block-layout-6:before {
  content: "\e081";
}

.font-icon-block-custom:before {
  content: "\e082";
}

.font-icon-block-bell:before {
  content: "\e083";
}

.font-icon-block-layout-7:before {
  content: "\e084";
}

.font-icon-block-email:before {
  content: "\e085";
}

.font-icon-block-settings:before {
  content: "\e086";
}

.font-icon-block-settings-2:before {
  content: "\e087";
}

.font-icon-block-globe:before {
  content: "\e088";
}

.font-icon-block-layout-8:before {
  content: "\e089";
}

.font-icon-block-layout-9:before {
  content: "\e08a";
}

.font-icon-block-globe-2:before {
  content: "\e08b";
}

.font-icon-block-story:before {
  content: "\e08c";
}

.font-icon-edit-write:before {
  content: "\e08d";
}

.font-icon-user-lock:before {
  content: "\e090";
}

.font-icon-address-card:before {
  content: "\e08e";
}

.font-icon-address-card-warning:before {
  content: "\e08f";
}

.font-icon-block-layout-10:before {
  content: "\e094";
}

.font-icon-block-promo:before {
  content: "\e096";
}

.font-icon-block-file:before {
  content: "\e010";
}

.font-icon-block-promo-3:before {
  content: "\e093";
}

.font-icon-block-promo-2:before {
  content: "\e098";
}

.font-icon-block-user-4:before {
  content: "\e06d";
}

.font-icon-block-accordion:before {
  content: "\e091";
}

.font-icon-block-external-link:before {
  content: "\e092";
}

.font-icon-block-rocket:before {
  content: "\e095";
}

.font-icon-block-virtual-page:before {
  content: "\e097";
}

.font-icon-block-user-2:before {
  content: "\e06b";
}

.font-icon-block-tabs:before {
  content: "\e099";
}

.font-icon-attention-1:before {
  content: "\e09a";
}

.font-icon-silverstripe:before {
  content: "\4d";
}

.font-icon-silverstripe-cms:before {
  content: "\e09b";
}
