.search-form {
  position: absolute;
  background: $white;
  margin: 0;
  right: 0;
  top: $toolbar-total-height;
  z-index: 9999;
  box-shadow: 0 2px 4px 0 $shadow-level-4, 0 4px 8px 0 $shadow-level-3;
  border-radius: 0 0 $border-radius $border-radius;
  max-width: 100%;
  width: 100%;

  @media(min-width: $tablet-width) {
    width: 375px;

    .search-box--hideable & {
      right: $toolbar-total-height;
    }
  }
}

// The child selector is required to raise priority enough to override another selector in Menu.scss
.search-form .form__field-holder > .field-group-component__small-holder {
  flex-direction: column;

  @media(min-width: 375px) {
    flex-direction: row;
  }
}

// Fixes search date range inputs overflow
.search-form .fieldgroup .field.date {
  max-width: calc(50% - map_get($spacers, 1));
}

.search-form__wrapper {
  padding: $panel-padding-y $panel-padding-x;
}
