$search-base-padding: 15px;
$search-box-height: 52px;

.search-box {
  position: relative;
  width: 100%;
  height: $search-box-height;
  z-index: 3;

  @include media-breakpoint-up(md) {
    position: relative;
    right: 0;
  }
}

.search-box__group {
  transition: opacity $transition-speed-fast;
  overflow: visible;
  opacity: 1;
  display: block;
  width: 100%;

  .font-icon-search {
    font-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    pointer-events: none;

    &::before {
      display: block;
    }
  }
}

.search-box__tags {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 8px 0;
  left: 55px;
}

.search-box__cancel,
.search-box__filter-trigger,
.search-box__enter,
.search-box__clear {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: $search-box-height;
  border-radius: 0;
  border: 0;
  outline: 0;
}


// Search cancel
.search-box__cancel {
  right: 0;
  color: $gray-700;
  background-color: transparent;
  height: 100%;
  border-left: 1px solid $gray-200;
  margin: 0;

  &[class*="font-icon-"]::before {
    font-size: 24px;
  }
}

// Expand filters panel
.search-box__filter-trigger {
  overflow: visible;
  color: $gray-700;
  right: 0;

  .search-box__hideable & {
    right: $search-box-height;
  }

  // Rotate ^ when filter-panel is open
  &::before {
    margin: 0;
    transform: rotate(180deg) translateY(2px);
  }

  &.collapsed::before {
    transform: rotate(0deg) translateY(0);
  }
}

.search-box__hideable .search-form {
  right: $search-box-height;
  max-width: calc(100% - #{$search-box-height});
}

.search-box__clear {
  right: 0;
  color: $link-color;

  .search-box__has-filters &,
  .search-box__hideable & {
    right: $search-box-height;
  }

  .search-box__has-filters.search-box__hideable & {
    right: 2 * $search-box-height;
  }
}

.search-box__enter {
  display: block;
  right: $search-base-padding;
  border: 1px solid $gray-100;
  padding: 0 4px;
  font-size: $font-size-sm;
  border-radius: $border-radius-sm;
  color: $gray-500;
  user-select: none;
  height: 20px;
  pointer-events: none;
  width: auto;
  min-width: $search-box-height;

  .search-box__has-filters &,
  .search-box__hideable & {
    right: $search-base-padding + $search-box-height;
  }

  .search-box__has-filters.search-box__hideable & {
    right: $search-base-padding + 2 * $search-box-height;
  }
}

.search-box__content-field {
  padding-right: $search-box-height + $search-base-padding;
  padding-left: 55px;
  padding-top: 7px;
  border-top: 0;
  border-radius: 0;
  font-size: $font-size-lg;
  font-weight: bold;
  height: 52px;
  opacity: 1;
  width: $search-width-max;
  float: right;
  box-shadow: 0 0 0 $shadow-level-1;

  transition: box-shadow .1s,
  border-color .1s;

  .search-box__has-filters &,
  .search-box__hideable & {
    padding-right:  2 * $search-box-height + $search-base-padding;
  }

  .search-box__has-filters.search-box__hideable & {
    padding-right:  3 * $search-box-height + $search-base-padding;
  }

  &::placeholder {
    font-weight: normal;
    color: #687f9f;
  }

  &:focus,
  .search-box__expanded & {
    box-shadow: 0 1px 1px $shadow-level-1;
    border-color: $gray-200;
  }

  // hide clear action in IE as it overlaps with filters
  &::-ms-clear {
    display: none;
  }

  &::before {
    display: block;
  }
}
