// AssetAdmin search

.search {
  @include media-breakpoint-up(md) {
    position: relative;
    right: auto;

    &.search--active {
      right: 0;
    }
  }

  &.search--active {
    position: relative;
    width: 100%;
  }
}

.search__group {
  opacity: 0;
  overflow: hidden;
  display: none;

  .search--active & {
    transition: opacity $transition-speed-fast;
    overflow: visible;
    opacity: 1;
    display: block;
    width: 100%;
  }

  .font-icon-search {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 10px;
  }

  .search__enter {
    display: none;
    position: absolute;
    right: 50px;
    border: 1px solid $gray-100;
    top: 16px;
    padding: 0 4px;
    font-size: $font-size-sm;
    border-radius: 2px;
    color: $gray-500;
    user-select: none;

    .search__hideable & {
      right: 100px;
    }

    .search__has-focus & {
      display: block;
    }
  }

}

// Search open icon
.search__trigger {
  z-index: 1;

  .search--active & {
    display: none;
  }

  &.search__trigger-active {
    box-shadow: inset 0 0 5px $shadow-level-5;
  }

  .search & {
    margin-right: 0;
  }


}

// Search cancel
.search__cancel {
  right: 0;
  top: 0;
  position: absolute;
  padding-right: 5px;
  padding-left: 5px;
  background-color: transparent;
  height: 100%;
  border-left: 1px solid $gray-200;
  width: 52px;
  height: 54px;
  border-radius: 0;
  margin: 0;

  &:hover {
    background-color: $btn-secondary-bg;
  }
}

// Expand filters panel
.search__filter-trigger-text {
  display: none;
  opacity: 0;
  position: absolute;
  transform: translateX(-106%);
  font-size: $font-size-xs;
  top: 7px;
  color: $link-color;
  transition: opacity $transition-speed-fast;
}

.search__filter-trigger {
  display: block;
  border: 0;
  margin: 0;
  border-radius: 0;
  position: absolute;
  top: 10px;
  outline: 0;
  overflow: visible;

  .search__hideable & {
    right: 55px;
  }

  .search__not-hideable & {
    right: 5px;
  }

  &:hover:not(:disabled):not(.disabled) {
    background-color: transparent;

    &:before {
      color: $link-color;
    }

    .search__filter-trigger-text {
      display: block;
      opacity: 1;
    }
  }

  &:active,
  &:focus,
  &:hover {
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }

  // Rotate ^ when filter-panel is open
  &::before {
    margin: 0;
    transform: rotate(180deg) translateY(2px);
  }

  &.collapsed::before {
    transform: rotate(0deg) translateY(0);
  }
}

.search__filter-panel {
  position: absolute;
  padding: $panel-padding-y $panel-padding-x;
  background: $white;
  margin: 0;
  right: 0;
  top: $toolbar-total-height;
  z-index: 9999;
  box-shadow: 0 2px 6px 0 $shadow-level-5;
  border-radius: 0 0 $border-radius $border-radius;
  max-width: 100%;
  width: $cms-panel-md;
}

.search__content-field {
  padding-right: 113px;
  padding-left: 55px;
  padding-top: 4px;
  box-shadow: 0 1px $input-btn-border-width 0 $input-border-color, 0 1px 5px 1px $border-color-light;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: bold;
  height: 52px;
  width: 100%;
  opacity: 0;
  float: right;

  &::placeholder {
    font-weight: normal;
  }

  &:focus {
    box-shadow: 0 1px 1px $input-focus-border-color, 0 0 8px $input-focus-box-shadow;
  }

  .search--active & {
    opacity: 1;
    width: $search-width-max;

    @include media-breakpoint-up(md) {

      transition: width $transition-speed-fast,
      opacity $transition-speed-fast;
    }

  }

  // hide clear action in IE as it overlaps with filters
  &::-ms-clear {
    display: none;
  }

  &::before {
    display: block;
  }
}
