$search-base-padding: 105px;
$search-box-height: 53px;

.search-box {
  position: relative;
  width: 100%;
  height: $search-box-height;
  z-index: 3;

  @include media-breakpoint-up(md) {
    position: relative;
    right: 0;
  }
}

.search-box__group {
  transition: opacity $transition-speed-fast;
  overflow: visible;
  opacity: 1;
  display: block;
  width: 100%;

  .font-icon-search {
    font-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    pointer-events: none;

    &::before {
      display: block;
    }

    .search-box--compact & {
      display: none;
    }
  }
}

.search-box__tags {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 12px 0;
  left: 55px;

  .search-box--compact & {
    left: $spacer-xs * 2;
  }
}

.search-box__enter,
.search-box__cancel {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: $search-box-height;
  border-radius: 0;
  border: 0;
  outline: 0;
}


// Search cancel
.search-box__cancel {
  right: 0;
  color: $gray-700;
  background-color: transparent;
  height: 100%;
  border-left: 1px solid $gray-200;
  margin: 0;

  &[class*="font-icon-"]::before {
    font-size: 24px;
  }
}

// Expand filters panel
.search-box__filter-trigger {
  position: absolute;
  margin: 12px $spacer-xs 12px 0;
  border: 0;
  outline: 0;
  color: $gray-700;
  right: 0;

  .search-box--hideable & {
    right: $search-box-height;
  }

  // Rotate ^ when filter-panel is open
  &::before {
    margin: 0;
    transform: rotate(180deg) translateY(2px);
  }

  &.collapsed::before {
    transform: rotate(0deg) translateY(0);
  }

  &.search-box--no-label {
    margin-right: 9px;
    margin-top: 13px;
    padding-right: 5px;
  }
}

.search-box__hideable .search-form {
  right: $search-box-height;
  max-width: calc(100% - #{$search-box-height});
}

// IE11 Fix for flex height 100% in absolute pos. container
.search-form__wrapper > .form > fieldset {
  flex: 1 0 auto;
}

.search-box__clear {
  right: 0;
  width: auto;
  padding: $search-base-padding;
  color: $link-color;

  .search-box--has-filters &,
  .search-box--hideable & {
    right: $search-box-height;
  }

  .search-box--has-filters.search-box--hideable & {
    right: 2 * $search-box-height;
  }

  .search-box--compact & {
    display: none;
  }
}

.search-box__enter {
  display: block;
  right: $search-base-padding;
  border: 1px solid $gray-100;
  padding: 0 4px;
  font-size: $font-size-sm;
  border-radius: $border-radius-sm;
  color: $gray-500;
  user-select: none;
  height: 20px;
  width: auto;
  min-width: $search-box-height;
  cursor: pointer;

  .search-box--has-filters &,
  .search-box--hideable & {
    right: $search-base-padding + $search-box-height;
  }

  .search-box--has-filters.search-box--hideable & {
    right: $search-base-padding + $search-box-height + 40px;
  }

  .search-box--compact & {
    display: none;
  }
}

.search-box__content-field {
  box-sizing: border-box;
  padding-right: $search-box-height + $search-base-padding;
  padding-left: 55px;
  padding-top: 7px;
  border-style: none;
  border-radius: 0;
  font-weight: bold;
  height: $search-box-height;
  opacity: 1;
  width: $search-width-max;
  float: right;
  box-shadow: 0 0 0 $shadow-level-1;
  transition: box-shadow .1s,
  border-color .1s;

  &--top-border {
    border-top-style: solid;
  }

  &--right-border {
    border-right-style: solid;
  }

  &--bottom-border {
    border-bottom-style: solid;
  }

  &--left-border {
    border-left-style: solid;
  }

  .search-box--has-filters &,
  .search-box--hideable & {
    padding-right:  2 * $search-box-height + $search-base-padding;
  }

  .search-box--has-filters.search-box--hideable & {
    padding-right:  3 * $search-box-height + $search-base-padding;
  }

  .search-box--compact.search-box--has-filters.search-box--hideable & {
    padding-right: 2 * $search-box-height + $search-base-padding;
  }

  &::placeholder {
    font-weight: normal;
    color: #687f9f;
  }

  &:focus,
  .search-box--expanded & {
    box-shadow: 0 1px 1px $shadow-level-1;
    border-color: $gray-200;
  }

  // hide clear action in IE as it overlaps with filters
  &::-ms-clear {
    display: none;
  }

  &::before {
    display: block;
  }
}
