// List-group, based on Bootstraps list-group

.list-group {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
  margin-bottom: $panel-padding-y;
}

.list-group-flush {
  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: $list-group-border-width solid $list-group-border-color;
  }
}

.list-group-item {
  padding-top: $spacer-xs;
  padding-right: $grid-gutter-width / 2;
  padding-bottom: $spacer-xs;
  padding-left: $grid-gutter-width / 2;
  min-height: 65px; // img height plus border
  cursor: pointer;
  text-decoration: none;
  transition: opacity .2s ease-in-out;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  &.active {
    background-color: $brand-primary;
    color: $white;
    opacity: 1;

    .list-group-item__status {
      color: $white;
      opacity: 1;
    }
  }
}

.list-group-item-text {
  line-height: $line-height-base;
}

.list-group-item__heading {
  font-weight: 400;
  font-size: 14px;
  margin: 2px 0 5px;
  color: $body-color;
}

.list-group-item.active {
  .list-group-item__heading {
    @include media-breakpoint-up(lg) {
      color: $white;
    }
  }
}

.list-group-item__thumbnail {
  width: 64px;
  height: auto;

  // Horizonally and vertically center
  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin: -12px 12px -12px #{0 - $grid-gutter-width / 2};

  > img {
    max-height: 100%;
    max-width: 100%;
  }
}

.list-group-item__details {
  // To make sure the thumbnail width (not actual images widths) is consistent
  // across the list when the filename is really long
  max-width: calc(100% - 64px);
}

.list-group-item__info {
  opacity: 0;
  display: block;
  transition: opacity .2s ease-in-out;
}

.list-group-item--inactive {
  opacity: .6;

  &:hover {
    opacity: 1;

    .list-group-item__status {
      opacity: 1;
    }
	}

  .list-group-item__status {
    opacity: 0;
  }
}

.list-group-item__status {
  display: inline-block;
  transition: opacity .2s ease-in-out;
}


// Temp hide links for Alpha1 (change opacity to 1)
.list-group-item:hover .list-group-item__info,
.list-group-item.active .list-group-item__info {
  opacity: 0;
}
