// Grid-field
// Uses bootstrap .table styles
// TODO remove nesting once buttons have been BEMified

.grid-field {
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.grid-field__table {
  margin-bottom: 0;
}

// Table head
.grid-field__title-row th {
  padding: $table-cell-padding-sm;
  text-transform: none;
}

.grid-field__title {
  text-transform: none;
  margin: 0;
  font-weight: 300;
}

// Gridfield header tools & actions (sort and filter)
.grid-field__sort {
  .grid-field & {
    margin-top: #{-$spacer};
    margin-left: #{-$spacer};
    margin-right: #{-$spacer};
    margin-bottom: calc(#{-$spacer} - 1px);
    padding-top: $spacer;
    padding-right: $spacer;
    padding-bottom: calc(#{$spacer} + 1px);
    padding-left: $spacer;
    width: calc(100% + #{$spacer * 2});
    height: $toolbar-height;
    text-align: left;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 20px;
    background: none;
    font-weight: normal;
    color: $body-color;

    &:hover {
      background-color: $body-bg-dark;
    }

    &:focus {
      outline: none;
      border-bottom: $table-border-width solid $cyan;
    }
  }

  &:hover {
    border-bottom: $table-border-width solid $border-color-light;
  }

  &::after {
    content: ")";
    display: inline-block;
    font-family: silverstripe;
  }

  &.ss-gridfield-sorted-desc, // TODO BEMify class
  &.ss-gridfield-sorted-asc {
    border-bottom: $table-border-width solid $cyan;

    &::after,
    &:hover::after {
      color: $cyan;
    }
  }

  &.ss-gridfield-sorted-desc::after { // TODO BEMify classes
    content: "*";
  }

  &.ss-gridfield-sorted-asc::after { // TODO BEMify classes
    content: "(";
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
  }

  th:first-child & {
    margin-left: -$grid-gutter-width-half;
    padding-left: $grid-gutter-width-half;
    width: calc(100% + #{$spacer + $grid-gutter-width-half});
  }

  th:last-child & {
    margin-right: -$grid-gutter-width-half;
    padding-right: $grid-gutter-width-half;
    width: calc(100% + #{$spacer + $grid-gutter-width-half});
  }

  th:only-child & {
    width: calc(100% + #{$grid-gutter-width-half + $grid-gutter-width-half});
  }
}

.grid-field__filter-open {
  .grid-field__table & {
    vertical-align: bottom;
    margin: 0;
    float: right;
    margin-top: -$input-btn-padding-y;
    margin-bottom: -$input-btn-padding-y;
  }
}

.grid-field__filter-submit,
.grid-field__filter-clear {
  .grid-field & {
    margin: 0;
  }

  &:hover,
  &[class*="font-icon-"]:hover,
  &:active,
  &[class*="font-icon-"]:active,
  &:focus,
  &[class*="font-icon-"]:focus {
    background-color: darken($table-bg-tools, 6%);

    &::before {
      color: $white;
    }
  }
}

input.grid-field__sort-field {
  margin-left: -$input-btn-padding-x;
  margin-right: -$input-btn-padding-x;

  // Create space for the clear btn
  &.text {
    padding-right: 30px;
  }

  .grid-field & { // TODO Reduce nesting
    width: calc(100% + #{$input-btn-padding-x * 2});
    border-color: $table-bg-tools;
  }
}

div.grid-field__sort-field + .form__fieldgroup-item {
  top: 16px;
  right: 7px;
  position: absolute;
}

.grid-field__filter-header {
  .fieldgroup:not(.grid-field__filter-buttons),
  .fieldgroup:not(.grid-field__filter-buttons) .fieldgroup-field {
    width: 100%;
  }

  .ss-gridfield-button-reset {
    margin-right: 0;
  }
}

.grid-field__filter-buttons {
  right: -5px;
  position: relative;
  width: auto;
}

// Grid-field body actions
.grid-field__icon-action,
.grid-field__icon-action[class*="font-icon-"] { // Override legacy styles (TODO: remove once jqueryui is removed)
  background: none;
  border: 0;
  padding: $table-cell-padding calc($table-cell-padding / 2);
  margin-top: -$table-cell-padding;
  margin-bottom: -$table-cell-padding;
  margin-right: 0;
  height: calc(#{$line-height-base} + #{$table-cell-padding * 2}); // height of icon + spacing top and bottom
  vertical-align: top;
  display: inline-flex;
  border-radius: 0;

  &:hover,
  &:active,
  &:focus {
    color: $body-color;
    background-color: darken($table-hover-bg, 4%);
    text-decoration: none; // For links
  }

  &::before {
    top: 0;
    color: lighten($body-color, 10%);
  }
}

.grid-field__icon-action--hidden-on-hover {
  opacity: 0;

  @include media-breakpoint-down(sm) {
    opacity: 1;
  }
}

.ss-gridfield-item {

  &:hover .grid-field__icon-action--hidden-on-hover {
    opacity: 1;
  }

  .ss-gridfield-badge {
    color: $state-draft;
    padding: 0;
  }
}

// Grid-field body
.grid-field__link-block {
  margin: -16px -20px;
  padding: 16px 20px;
  display: block;

  .grid-field .grid-field__table & {  // Override legacy styles (TODO: remove once jqueryui is removed)
    color: $text-muted;
    text-decoration: none;
  }
}

// Helpers
// min-width columns which hold things like buttons
.grid-field__col-compact {
  text-align: right;
  width: 1px;
  white-space: nowrap;

  > * {
    vertical-align: middle;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}


// Responsive grid-field
// Todo: add .text-truncate for overflowing cells
@include media-breakpoint-down(sm) {
  .grid-field__table td,
  .grid-field__table th {
    display: none;

    &:first-child,
    .cms-list &,
    &.col-Title, // sass-lint:disable-line class-name-format
    &.grid-field__col-compact,
    &.grid-field__cell--actions,
    &.grid-field__action-placeholder {
      display: table-cell;
    }
  }
}

.grid-field-import {
  pointer-events: none;

  &.show {
    display: block;

    .modal-content {
      overflow-y: auto;
      pointer-events: all;
    }

    .modal-dialog {
      max-height: 600px;

      .advanced {
        display: none;
      }
    }
  }
}

.import-form .advanced {
  display: none;
}

.version-status {
  border: 1px solid $border-color-light;
  background-color: $white;
  margin-left: $btn-spacing;

  &.version-status--addedtodraft {
    color: $state-draft;
  }

  &.version-status--modified {
    color: $state-modified;
  }
}
