// Styles below here are duplicates of the treedropdownfield styles, but with the appropriate classnames for listboxfield
.ss-listbox-field__control {
  border-color: $gray-200;
  box-shadow: none;
}

.ss-listbox-field__control--is-focused {
  border-color: $brand-primary;
  box-shadow: none;
}

.ss-listbox-field__option+.ss-listbox-field__option {
  border-top: 1px solid $border-color-light;
}

.ss-listbox-field__option-button {
  border: 1px solid $border-color-light;
  border-radius: $border-radius;
  background: $white;
  // needed to override the width rule in .fill-width
  width: auto !important; // sass-lint:disable-line no-important
  max-width: 25%;
  margin: -4px -5px -4px 5px;
  padding: 4px 5px 4px 4px;
  cursor: pointer;

  &:hover {
    background: $gray-200;
  }

  .font-icon-right-open-big {
    margin: 2px 0 0 -1px;
    width: 24px;
  }
}

.ss-listbox-field__option-count-icon {
  padding: 0 calc($spacer / 2);
  line-height: 0.8;
}

.ss-listbox-field__option-context {
  color: $gray-600;
  font-size: $font-size-sm;
}

.ss-listbox-field__option--is-focused {
  background-color: $list-group-hover-bg;
}

.ss-listbox-field__option--is-selected {
  background: $link-color;
  color: $white;

  .ss-listbox-field__option-button {
    border-color: $brand-primary;
    background: none;
    color: $white;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.ss-listbox-field__option-title--highlighted {
  font-weight: bold;
}

.ss-listbox-field__indicator {
  cursor: pointer;
}

.ss-listbox-field__clear-indicator {

  &:hover,
  &:focus {
    color: $brand-danger;
  }
}

.ss-listbox-field__dropdown-indicator {

  &:hover,
  &:focus {
    color: $body-color-dark;
  }
}

.ss-listbox-field__multi-value {
  margin-top: 3px;
  color: $body-color;
  background-color: $white;
  border: 1px solid $input-focus-border-color;
  border-radius: $border-radius;
}

.ss-listbox-field__multi-value__remove {
  font-size: $font-size-lg;
  padding: 0 5px 2px;
  border-left: 1px solid $input-focus-border-color;
  border-radius: 0;

  &:focus,
  &:hover {
    background-color: rgba(0, 113, 230, .08);
    color: #0071e6;
  }
}
